<footer class="footer">
  <small>
    <%= t "the" %> <%= link_to "Ruby on Rails Tutorials", "https://www.railstutorial.org/" %>
    <%= t "by" %> <%= link_to "Micheal Hatl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("en_key"), locale: "en" %></li>
      <li><%= link_to t("vi_key"), locale: "vi" %></li>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("new"), 'http://news.railstutorial.org/' %></li>
    </ul>
  </nav>
</footer>

